.home{
    background-color: var(--secondary-color);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .hero{
       position: relative;
        width:75%;
        display: flex;
        .hero-text{
            .big-heading {
                margin: 0px;
                font-size: clamp(20px, 6vw, 60px);
            }
            width:50%
        }
        .hero-img{
           display: flex;
           align-items: center;
           justify-content: center;
           overflow: hidden;
           transition: ease-in;
           animation-name: fadeIn;
           animation-duration: 4s;
          video{
            // width: 300px;
        //    height: 300px;
           border-radius: 50%;
            width:100%;
            box-shadow: rgba(black,0.3)  0 1rem 0.5rem;
            
          }
        }
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}