.skills-section{
    position: relative;
    z-index: 0;
    .skills-title{
        position: absolute;
        top:60px
    }
    background-color: var(--white-color);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .skill-circle{
        height: 200px;
        width: 200px;
        border: black solid 1px ;
        border-radius: 50%;
        background-color: var(--tertiary-color);
        animation-name: palpito ;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        display: flex;
        align-items: center;
       justify-content: center;
      
        .bubble{
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            background-color: var(--secondary-color);
            overflow: hidden;
            
            // svg,img{
            //     width: 100%;
            // }
            img{
                transform: scale(0.7);
                filter: grayscale(1) contrast(200%);
            }
            
        }.bubble:hover {
            transition-duration: 1s;
            // transform:scale(3) !important;
            background-color: var(--contrast-color);
            filter: grayscale(0);
            scale: 1.1;
            cursor: pointer;
        }
        
    }
    .displayTech{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150px;
        img{
            width: 100px;
        }
    }
}
.spin-out{
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
    transition-duration: 1s;
    transform: rotateZ(360deg)  ;
}
@keyframes palpito {
    0% {
        background-color: var(--tertiary-color);
    }
    50%{
        background-color: var(--secondary-color);
        scale: 1.02;
        box-shadow: #777 0 0 1rem;
    }
    100%{
        background-color: var(--tertiary-color);

    }
}
