@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --font-sans:'Roboto', sans-serif;
  --font-mono:'Roboto Mono', monospace;
  --primary-color: #1E1E1E;
  --secondary-color: #67c747;
  --tertiary-color: #9BD687;
  --contrast-color:orange;
  --gray-scale-1: #e9ecef;
  --gray-scale-2: #ced4da;
  --gray-scale-3: #6c757d;
  --white-color: white;
}
*{
  font-family: var(--font-sans);

}
button,a{
  font-family: var(--font-mono);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
